body { background: #fff; }
* { -webkit-box-sizing: border-box; color: #111;
-moz-box-sizing: border-box;
box-sizing: border-box; z-index: 0; outline: none; padding:0px; margin:0px;font-size:12px; font-family:  'Hiragino Sans GB', Arial,  'Microsoft YaHei', "微软雅黑", STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif; outline: none; -webkit-font-smoothing: antialiased; 
}

.wrap { width: 100%; position: relative; }
.wrap input { width: 90%; position: relative; float: left; height: 40px; line-height: 40px; border: 1px solid; }
.wrap button { width: 10%; position: relative; float: left; height: 40px; line-height: 40px; border: 1px solid; }
